* {
    box-sizing: border-box;
}

#main-grid div {
    display: inline-block;
}

#banner {
    border-bottom: 1px solid #121212;
    width: 100%;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #121212;
}

#banner__content {
    padding-left: 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #121212;
    text-align: center;
    width: 97%;
}

#banner__buttons {
    display: inline;
    text-align: right;
    width: 3%;
}

#banner__dark-mode-button {
    display: inline-block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #121212;
}

#app {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #121212;
    border-radius: 5px;
    padding: 5px;
}

#main-grid > div {
    border: 1px solid #121212;
    border-radius: 5px;
    padding: 5px;
    margin: 2.5px;
}

#main-grid > div:hover {
    border: 3px solid #9D00FF;
    margin: -1px;
}

#main-grid div {
    display: block;
}

#main-grid__name {
    grid-column-start: 1;
    grid-column-end: 2;
}

#main-grid__background {
    grid-column-start: 2;
    grid-column-end: 3;
}

#main-grid__inventory {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#main-grid__petty {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

#main-grid__stats {
    grid-column-start: 1;
    grid-column-end: 3;
}

#main-grid__actions {
    grid-column-start: 1;
    grid-column-end: 5;
}

#main-grid__activity-log {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

#main-grid__bonds {
    grid-row-start: 4;
    grid-row-end: 6;
}

#main-grid__omens {
    grid-row-start: 4;
    grid-row-end: 6;
}

.div-label {
    color: #444444;
}

.div-content {

}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.button-text{
    cursor: pointer
}



/* https://www.vev.design/blog/dark-mode-website-color-palette/ - Monochromatic Minimalism */