* {
    box-sizing: border-box;
}

#banner {
    width: 100%;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #121212;
}

#banner__content {
    padding-left: 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #121212;
    text-align: center;
    width: 97%;
}

#banner__buttons {
    display: inline;
    text-align: right;
    width: 3%;
}

#banner__dark-mode-button {
    display: inline-block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #121212;
}

#app {
    width: 80%;
    margin: 5% auto auto;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 0;
    box-shadow: 0 0 1em 0 rgba(0 0 0 / 0.3);
    border-radius: 5px;
    padding: 5px;
}

#main-grid > div {
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    padding: 5px;
    margin: 2.5px;
}

#main-grid > div:hover {
    border: 3px solid #9D00FF;
    margin: -1px;
}

#main-grid__name {
    grid-column-start: 1;
    grid-column-end: 2;
}

#main-grid__background {
    grid-column-start: 2;
    grid-column-end: 3;
}

#main-grid__inventory {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
}

#main-grid__petty {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

#main-grid__traits {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#main-grid__stats {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

#main-grid__actions {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;
}

#main-grid__notes {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
}

#main-grid__activity-log {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
}

#main-grid__bonds {
    grid-row-start: 7;
    grid-row-end: 11;
}

#main-grid__omens {
    grid-row-start: 7;
    grid-row-end: 11;
}

#inventory-div, #petty-div {
    margin-bottom: 0.5em;
}

#inventory-container {
    display: flex;
    flex-direction: row;
}

#inv_col1 {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

#inventory-container p {
    margin: 0 auto 1em;
}

#inv_col2 {
    display: flex;
    flex-direction: column;
}

#inventory-container input[type="checkbox"] {
    height: 32.31px;
    width: 32px;
    margin: 0 auto 1em;
}

#inventory-cancel-button {
    padding: 1px 6px 1px 6px;
    margin: 0 auto 0;
}

#inventory-list, #petty-list {
    margin: 0 3px 0;
    padding-left: 20px;
}

.inventory-list-item, .petty-list-item {
    margin: 0 0 0.3em;
    padding: 0.1em;
    border-bottom: 1px solid #B0B0B0;
    text-align: left;
}

.stat {
    display: flex;
    flex-direction: row;
}

.stat input[type="checkbox"]{
    margin: 10px 0 0;
}

#stats-list {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#stats-1, #stats-2, #stats-3 {
    display: inline-flex;
    flex-direction: column;
    min-width: 30%;
}

.stat-label {
    display: block;
    width: 66%;
    text-align: right;
    margin-right: 8px;
    margin-top: 10px;
}

.stat-content {
    display: block;
    width: 33%;
    text-align: center;
    margin-top: 10px;
}

.dialog {
    padding: 1em;
    max-width: 30em;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
}

.dialog label {
    display: block;
    margin-bottom: 0.5em;
}

.dialog input[type="text"] {
    display: block;
    padding: 0.5em;
    margin-bottom: 1em;
}

.div-label {
    color: #444444;
}

.invalid {
    margin: 0;
    color: red;
    text-decoration: solid underline red;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.button-text{
    cursor: pointer
}


/* https://www.vev.design/blog/dark-mode-website-color-palette/ - Monochromatic Minimalism */